/* Creo i primi blochhi per vedere se tutte le funzionalità sono apposto */
/* Azzero le impostazioni predefinite del browser */
* {
  margin: 0;
  padding: 0;

}

/* Definisco il contenitore principale */

#container {

  width: 800px;
  height: 800px;
  position: absolute;
}

/* Definisco la parte superiore */

#upper {

  width: 760px;
  height: 330px;
  padding: 5px;
  margin: 10px 10px -20px 10px;

}

/* Definisco la parte inferiore */

#downside {

  width: 760px;
  height: 330px;
  padding: 5px;
  margin: 10px 10px -20px 10px;

}

/* Successivamente metto tutti gli elementi in maniera lineare e aggiusto le grandezze */

.left {

  width: 32%;
  height: 95%;
  display: inline-block;

}

.central {

  width: 32%;
  height: 95%;
  display: inline-block;
}

.right {

  width: 32%;
  height: 95%;
  display: inline-block;
}

.left img, .right img, .central img {
  background-color: lightgrey;
  width: 100%;
  height: 95%;
  display: inline-block;
}

/* Creo due div per mettere gli sconti dei prodotti */

.lowerprice {
  background-color: red;
}

.higherprice {
  background-color: green;
}

/* Aggiusto la grandezza e la posizione dei price tags */

.higherprice, .lowerprice {
  width: 38px;
  text-align: center;
  position: relative;
  top: -301px;
  right: -205px;

}

/* Devo creare la funzione hover sopra le immagini dei prodotti */

/* IMPORTANTE: Devo chiedere come mai non reisco a diverenziare l'immagine del cuore dal div="container" senza aggiuntive linee del codice*/
/* Faccio qualche test con l'immagine del cuore */
#heart {
   display: none;
   position: relative;
   top: 700px;
   width: 45px;
   z-index: 99;

 }

.headphones {

}

 .ipad:hover #heart, .headphones:hover #heart, .iphone:hover #heart {
   display: inline-block;
        position: relative;
        top: 0;
        left: 0;

 }
